<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.semester_project_crypto_wallet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/stellar_wallet"
        android:label="@string/stellarWallet"
        android:roundIcon="@mipmap/stellar_wallet_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SemesterProjectCryptoWallet">
        <activity
            android:name="com.example.semester_project_crypto_wallet.ui.MainActivity"
            android:parentActivityName=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>